<form #Form="ngForm" class="search">
  <input type="text" name="city" (keyup.enter)="onSubmit()" [(ngModel)]="cityName" placeholder="Input the cityName">
</form>
<div class="container" *ngIf="weatherData">
  <div class="upperReigon">
    <div class="placeTemp">
      <div class="location">
        <p>{{weatherData.locations[cityName].address}}</p>
        <p>{{time}}</p>
      </div>

      <div class="weather-pic">
        <img class="image" src="../assets/sunday.png" *ngIf="weatherData.locations[cityName].currentConditions.temp >= 15">
        <img class="image" src="../assets/rainday.png" *ngIf="weatherData.locations[cityName].currentConditions.temp < 15">
        <h1 class="temperature">{{weatherData.locations[cityName].currentConditions.temp}}℃</h1>
        <h2> {{weatherDescribe}} </h2>
      </div>
    </div>
    <img class="background-pic" src="../assets/blurBackground.png">
  </div>

  <div class="lowerRegion">
    <div class="box">
      <div class="icon">
        <img src="../assets/minTemp.png">
      </div>
      <div class="info">
        <div class="infoName">min</div>
        <div class="infoValue">15℃</div>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <img src="../assets/maxTemp.png">
      </div>
      <div class="info">
        <div class="infoName">max</div>
        <div class="infoValue">38℃</div>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <img src="../assets/humidity.png">
      </div>
      <div class="info">
        <div class="infoName">humidity</div>
        <div class="infoValue">{{weatherData.locations[cityName].currentConditions.humidity}}</div>
      </div>
    </div>
    <div class="box">
      <div class="icon">
        <img src="../assets/wind.png">
      </div>
      <div class="info">
        <div class="infoName">wind</div>
        <div class="infoValue">1km/h</div>
      </div>
    </div>


  </div>
</div>
<router-outlet></router-outlet>